<div class="page_header">About This Site</div>

    <div class="about_page">
      <p>
      We live in a society that is based around technology and it is always changing. With such
      innovation surrounding technology, it is not without threats. No matter your involvement
      with the cyber security world, it is always a good idea to stay up to date and know the basic
      steps to keep yourself secure.
      </p>

      <p>
      This site is dedicated to providing
      recommendations and the tools necessary to increase computer security as well as to
      increase your knowledge within the subject. With technology that is always advancing,
      new threats are also emerging and this site also provides a news feed so anyone can stay
      up to date with the latest technology-related news.
      </p>
    </div>
