// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments_form {
  margin: 0 100px;
}

.well {
  margin: 0 50px;
}

.well_custom {
  margin: 0 50px;
  padding: 5px 0px;
  border-top: solid #2B2B2B;
}

.comments_container {
  margin: 0 50px;
  padding: 5px 0px;
}
